opentelemetry-instrumentation-openai
fastapi
uvicorn[standard]
sqlalchemy
pymysql
passlib[bcrypt]
bcrypt<5
pydantic-settings
email-validator
pytest
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp
