opentelemetry-instrumentation-openai
fastapi
uvicorn[standard]
sqlalchemy[asyncio]
aiosqlite
aiomysql
passlib[bcrypt]
bcrypt<5
pydantic-settings
email-validator
pytest
pytest-asyncio
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp
